.container {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}
.main {
  display: flex;
  gap: rem(40);
}
.photo {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  align-items: center;
  width: rem(200);
  height: rem(252);
}
.profilePhoto {
  border-radius: 50%;
}
.info {
  height: rem(530);
  width: rem(740);
  border: 1px solid var(--color-dark-100);
}
.divider {
  border: rem(1) solid var(--color-dark-100);
}
.saveBtn {
  display: flex;
  justify-content: end;
}
.deleteBtn {
  width: rem(24);
  height: rem(24);
  background-color: var(--color-dark-700);
  right: rem(12);
  border-radius: 50%;
  padding: rem(4);
  position: absolute;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteIcon {
  background-color: var(--color-danger-500);
  border-radius: 50%;
}
.profileImage {
  position: relative;
}
