.container {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}
.main {
  display: flex;
  //justify-content: space-between;
  gap: rem(40);
}

.photo {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  align-items: center;
  width: rem(200);
  height: rem(252);
}
.profilePhoto {
  border-radius: 50%;
}
.info {
  height: rem(530);
  width: rem(740);
  border: 1px solid var(--color-dark-100);
}
.divider {
  border: rem(1) solid var(--color-dark-100);
}
.saveBtn {
  display: flex;
  justify-content: end;
}