.sidebar {
  width: rem(220);
  border-right: rem(1) solid var(--border-color);
  height: 100vh;
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  padding-left: rem(60);
  padding-top: rem(75);
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navGroup {
  display: flex;
  flex-direction: column;
  gap: rem(25);
  margin-bottom: rem(60);
}

.exit {
  margin-top: auto;
}
