.item {
  display: flex;
  align-items: center;

  &:hover {
    .link {
      color: var(--color-accent-100);
    }
    .icon {
      fill: var(--color-accent-100);
    }
  }
}

.link {
  margin-left: rem(12);
  opacity: 1;
}

.icon {
  fill: var(--color-accent-100);
}
