.card {
  background-color: var(--color-dark-500);
  border: rem(1) solid var(--color-dark-300);
  border-radius: rem(2);
  width: rem(378);
  padding: rem(24);
  gap: rem(24);
  display: flex;
  flex-direction: column;
}
