.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  max-height: rem(480);

  .instructions {
    margin-top: rem(7);
  }

  .instructionsActive {
    width: 100%;
    font-size: rem(14);
    line-height: rem(24);
    margin-top: rem(23);
    text-align: left;
  }

  .sendButton {
    margin-top: rem(17);
  }

  .backButton {
    margin-top: rem(24);
  }

  .recaptchaContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: rem(24);
  }
}

.active {
  display: none;
}
