.sliderContainer {
  position: relative;
  height: 100%;
}

.sliderWrapper {
  overflow: hidden;
  height: 100%;
}

.sliderInner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.sliderArrowNext {
  position: absolute;
  right: rem(10);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  cursor: pointer;
}

.sliderArrowPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  justify-content: center;
  left: rem(10);
}

.dotsContainer {
  position: absolute;
  bottom: rem(10);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);
  z-index: 10;
  height: rem(12);
  background-color: rgba(51, 51, 51, 0.3);
  padding: 0 rem(8);
}


.sliderDots {
  width: rem(6);
  height: rem(6);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}

.activeDot {
  background-color: var(--color-primary-500);
}

.inactiveDot {
  background-color: var(--color-light-100);
}
