.paginationContainer {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  margin: rem(20) 0;
  background-color: black;
  max-width: rem(535);
}

.paginationContainer p {
  color: var(--color-light-100);
  font-size: rem(14);
}

.pagination {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.paginationEllipsis {
  position: relative;
  top: rem(2);
  padding-right: rem(2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationButton {
  width: rem(24);
  height: rem(24);

  font-size: rem(14);
  font-weight: var(--font-weight-normal);
  color: var(--color-light-100);

  text-align: center;

  &.active {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: rem(2);
    font-weight: bold;
    transform: scale(1.05);
  }
}

.paginationButton:hover {
  background-color: var(--color-dark-500);
  border-radius: rem(2);
}

.paginationButton:focus {
  background-color: black;
  color: var(--color-light-100);
  border: rem(2) solid #2f68cc;
  border-radius: rem(2);
}
