.modalProfile {
  display: flex;
  position: relative;
  margin-top: -13px;
  .customCloseButton {
    position: absolute;
    top: -43px;
    right: -43px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
  }
  .wrapperSlider {
    width: rem(490);
    .imagModal {
      max-width: 100%;
      height: rem(564);
      //max-height: 100%;
      object-fit: cover;
    }
  }

  .informationBlockPost {
    width: rem(480);
    .userBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rem(59);
      border-bottom: 1px solid var(--color-dark-100);
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: rem(130);
        margin-left: rem(24);
        .userPhoto {
          overflow: hidden;
          border-radius: 50%;
          object-fit: cover;
        }
        .userUrl {
        }
      }
      .buttonIcon {
        margin-right: rem(18);
      }
      .menu {
        display: flex;
        flex-direction: column;
        height: rem(85);
        width: rem(137);
        background-color: #0d0d0d;
        position: absolute;
        right: 20px;
        top: 40px;
        .edit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: rem(95);
          height: rem(24);
          margin-top: rem(13);
          margin-left: rem(12);
        }
        .delete {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: rem(113);
          height: rem(24);
          margin-top: rem(12);
          margin-left: rem(12);
        }
      }
    }
  }
}

.content {
  width: rem(137);
  background-color: #0d0d0d;
}

.customArrowPrev,
.customArrowNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);
  background-color: rgba(255, 255, 255, 0.3);
}
