.header {
  display: flex;
  padding: 0 60px;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d;
  color: #f4f4f5;
  border-bottom: 1px solid var(--border-color);
}

.name {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 0 15px;
  }
}
