:root {
  //global variables here

}

// Icon base styles
  .icon {
    color: var(--icon-color);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    svg {
      display: block;
    }
  }

